* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

hr {
    height: 4px;
    width: 720px;
    background-color: rgba(201, 201, 201, 0.288);
    border: none;
}



h1 {
    text-align: center;
    letter-spacing: 8px;
}

form {
    display: flex;
    flex-direction: column;
    width: 720px;
}

input[type=text] {
    width: 100%;
}
.buttons {
    display: flex;
    justify-content: space-evenly;
}

input[type=button] {
    width: 200px;
}

.entry {
    border: 1px solid rgba(70, 70, 70, 0.185);
    padding: 8px;
    border-radius: 6px;
    margin-bottom: 24px;
}

h2, h3 {
    display: flex;
    flex-direction: row;
    margin: 0;
}

h2 {
    font-size: 24px;
    font-weight: 900;
    margin-bottom: 6px;
}

h3 {
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 8px;
}